<% if (user) { %>
<% } %>
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll2">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <h1>LIGHTNING LEASE</h1>
                <!-- <img src=../img/llease.png> -->
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
  <ul class="nav navbar-nav">
    <!-- <li class="active"><a href="#intro">Home</a></li> -->
    <li><a href="/">Home</a></li>
    <li><a href="/#how">How It Works</a></li>
    <li><a href="/#service">Why Choose Us?</a></li>
    <li><a href="/#contact">Contact</a></li>
      <li><a href="/logout">Log Out</a></li>
    <!-- <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Example menu</a></li>
        <li><a href="#">Example menu</a></li>
        <li><a href="#">Example menu</a></li>
      </ul>
    </li> -->
  </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Section: intro -->
    <section id="intro2" class="intro2">

		<div class="slogan2">
			<h2>SELECT <span class="text2_color">YOUR VEHICLE</span> </h2>
			<h4>THEN LET THE BIDDING BEGIN</h4>
		</div>
		<!-- <div class="page-scroll">
			<a href="#service" class="btn btn-circle">
				<i class="fa fa-angle-double-down animated"></i>
			</a>
		</div> -->
    </section>
	<!-- /Section: intro -->

  <!-- Section: about -->
    <section id="selectcar" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>CURRENT OPTIONS</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="container">

    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>
    </div>
        <div class="row">
            <div class="col-md-3">
        <div class="wow bounceInUp" data-wow-delay="0.2s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Mercedes Benz</h5>
                        <p class="subtitle">C 300 Sedan
                        </p>
                        <div class="avatar"><img src="img/c300.png" alt="mercedes benz c300" class="img-responsive" /></div>
                        <form method="get" action="http://localhost:4200">
          <button type="submit">Select</button>
                    </div>
                </div>
        </div>
            </div>
      <div class="col-md-3">
        <div class="wow bounceInUp" data-wow-delay="0.5s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Mercedes Benz</h5>
                        <p class="subtitle">E 300</p>
                        <div class="avatar"><img src="img/e300.png" alt="mercedes benz e300" class="img-responsive" /></div>
                        <form method="get" action="/bids">
          <button type="submit">Select</button>
                    </div>
                </div>
        </div>
            </div>
      <div class="col-md-3">
        <div class="wow bounceInUp" data-wow-delay="0.8s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Mercedes Benz</h5>
                        <p class="subtitle">S 550</p>
                        <div class="avatar"><img src="img/s550.png" alt="" class="img-responsive" /></div>
                        <form method="get" action="/bids">
          <button type="submit">Select</button>
                    </div>
                </div>
        </div>
            </div>
      <div class="col-md-3">
        <div class="wow bounceInUp" data-wow-delay="1s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Mercedes Benz</h5>
                        <p class="subtitle">S550 Coupe</p>
                        <div class="avatar"><img src="img/s550cp.png" alt="" class="img-responsive" /></div>
                        <form method="get" action="/bids">
          <button type="submit">Select</button>
      </form>
                    </div>

                </div>
        </div>
            </div>
        </div>
    </div>
  </section>
  <!-- /Section: about -->
